<div class="sign-up">
  <div class="col-xs-4 col-xs-offset-4 bg">
    <h3>Log in</h3>
    <%= form_tag sessions_path do |f| %>
      <div class="field form-group">
         <%= label_tag :email %><br />
         <%= text_field_tag :email, params[:email], class: "form-control" %>
      </div>
      <div class="field form-group">
        <%= label_tag :password %><br />
        <%= password_field_tag :password, '', class: "form-control" %>
      </div>
      <div class="actions"><%= submit_tag "Log in", class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>
