<div class="sign-up">
  <div class="col-xs-4 col-xs-offset-4 bg">
    <h3>Sign Up</h3>
    <%= form_for @user do |f| %>
      <!-- <div class="alert alert-danger"> -->
      <% if @user.errors.any? %>
        <div class="error_messages alert alert-danger">
          <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
          </ul>
        </div>
      <% end %>

  <div class="field form-group">
     <%= f.label :name %><br />
     <%= f.text_field :name, class: "form-control" %>
   </div>
   <div class="field form-group">
      <%= f.label :email %><br />
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="field form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="actions"><%= f.submit "Submit", class: 'btn btn-default' %></div>
  </div>
  <% end %>
</div>
