<!DOCTYPE html>
<html>
<head>
  <title>Fotos | Design Portfolio of Diego Avalon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <nav class="navbar nav-style">
      <div class="container">
        <div class="site-title text-center">
          <h1><%= link_to "Fotos", root_path %></h1>
        </div>
        <div class="main-nav">
          <ul class="nav-header nav">
            <% if current_user %>
              <li>Hello, <%= current_user.name %></li>
              <li class="logout"><%= link_to "Log Out", logout_path, method: "get" %></li>

            <% else %>
              <li><%= link_to "Signup", signup_path %></li>
              <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul>
        </div>
        <hr>
      </div>
    </nav>


  <div class="container">
    <% if flash[:alert] %>
        <div class="alert alert-info alert-dismissable" role="alert">
          <%= flash[:alert] %>
        </div>
      <% elsif flash[:notice] %>
        <div class="alert alert-success alert-dismissable" role="alert">
        <%= flash[:notice] %>
        </div>
      <% end %>
    <%= yield %>

  </div>


  <div class="footer">
    <div class="container">
      <hr>
      <p class="pull-right">&copy; 2014 Diego Avalon & Christian Danielsen</p>
      <ul class="nav nav-pills pull-left">
        <li class="disabled"><a href="#"></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Terms</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>

  </div>
</body>
</html>
